extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/user.css")

block content
    main
        form.product-form(action="/users", method="POST")
            .form-control
                label(for="title") Fullname
                input(type="text", name="name")#name
            button.btn(type="submit") Add User